<!DOCTYPE html>
<html lang="en-GB">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device_width, initial-scale=1.0">
  <title>{{ user.username }}</title>
</head>

<body>
  <div class="wrapper"><div id="profile" style="background-color: #{{ user.profile_colour }}">
    <h2>{{ user.username }}</h2>
    <p><em>{{ user.fullname }}</em></p>
    <p>Date of Birth: {{ user.dob.strftime("%d/%m/%Y") }}</p>
    <p>{{ user.bio }}</p>
    <br>
    <blockquote><p><em>{{ user.quote }}</em></p></blockquote>
    <p style="text-align: right"> - {{ user.fullname }}</p>
  </div></div>
</body>
</html>
